.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}
